body,
html {
    margin: -2px
}

body {
    width: 96%;
    margin: 0 auto;
}

body,
input,
select,
label {
    font-family: helvetica;
}

input[type="text"]:hover,
input[type="email"]:hover {
    background-color: #fffdcf;
}

h3 {
    font-size: 7vw
}

select {
    width: 80%
}

input[type=checkbox] {
    width: 5%;
    zoom: 1.5
}

form {
    padding: 1%
}

#inicio,
#content,
#resultadosDiv,
#resultadoTotal {
    background-image: url("../img/fondo2.jpg");
}


/*-----------------------------------INICIO---------------------------------------------------*/

#inicio {
    position: absolute;
    display: block;
}

#inicio .logo {
    width: 20%;
    margin-top: 5%;
}

#inicio h1 {
    width: 70%;
    margin: 12% 0 0 2%;
    font-size: 1em;
    float: right;
    text-shadow: 1px 1px 1px #000000;
}

#header {
    width: 100%;
    border-bottom: 2px solid #000;
    padding-bottom: 2%;
    font-family: Helvetica;
}


/*-----------------------------------CONTENIDO-----------------------------------------------*/

#content {
    width: 100%;
    display: none;
}

#content .logo {
    width: 25%;
    margin: 5% 0 0 5%;
}

#content h1 {
    width: 70%;
    font-size: 1em;
    margin-top: 14%;
    text-align: center;
    float: right;
    text-shadow: 1px 1px 1px #000000;
}

.imagenUno {
    width: 100%;
}

#info {
    padding-bottom: 3%;
    border-bottom: 1px solid black;
}


/*-----------------------------------------------CORRECION------------------------------------------*/

#resultadoTotal {
    width: 99%;
    padding: 3%;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px 3px 0 3px solid black;
    display: none;
}

#resultadoTotal .logo {
    width: 25%;
    margin: 5% 0 0 5%;
}

#resultadoTotal h1 {
    width: 70%;
    font-size: 1em;
    margin-top: 14%;
    text-align: center;
    float: right;
    text-shadow: 1px 1px 1px #000000;
}

#resultadosDiv {
    width: 99%;
    padding: 3%;
    margin: 0 auto;
    margin-top: -3%;
    border-radius: 10px 10px 10px 10px;
    border: 0 3px 3px 3px solid black;
    display: none;
}

#resultadoTotal p {
    padding: 0;
    text-align: center;
    font-size: 5em;
}